@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansLight-Italic.eot');
    src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

.main {
    background-image: url('../images/background-fone.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

header .container {
    max-width: 1188px;
    margin: auto;
}

.d-flex {
    display: flex;
}

header .container.d-flex {
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
    font-family: "Open Sans", OpenSans-Light, OpenSansLight-Italic;
    line-height: normal;
    max-width: 100%;
    font-weight: 500;
    font-size: 65px;
    letter-spacing: .2rem;
}

h1 b i {
    color: white;
    font-family: "Open Sans", OpenSans-Light, OpenSansLight-Italic;
    line-height: normal;
    max-width: 100%;
    font-weight: 500;
    font-size: 65px;
    letter-spacing: .2rem;
}

.container {
    max-width: 769px;
    margin: auto;
    padding-top: 81px;
    text-align: center;
}
.about .container h3{
    color: #d4af37;
    font-size: 12px;
    font-family: "Open Sans";
    padding-bottom: 12px;
    text-transform: uppercase;
}
.about .container h2 {
    color: #4d5c66;
    font-size:35px;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .2rem;

}
.about .container p {
    font-family: 'Open Sans', OpenSans-Light;
    padding-top: 55px;
    line-height: 24px;
    padding-bottom: 52px;
}

.about .container a{

    color: #4d5c66;
    font-size: 13px;
    text-decoration: none;
    user-select: none;
    border: solid 1px black;
    padding: 1.3em 2.9em;
    font-family: 'Open Sans', OpenSans-Light;
}

.show-work .container h3 {
    color: #d4af37;
    font-size: 12px;
    font-family: "Open Sans";
    padding-bottom: 12px;
    text-transform: uppercase;
}

.show-work .container h2 {
    color: #4d5c66;
    font-size:35px;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .2rem;
}
.wrapper {
    width: 1188px;
    margin: auto;
    padding-top: 96px;

}
.img-wrapp{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}
.img-holder{
    width: 25%;

}
.img-wrapp.img-holder img {
    display: block;
    width: 100%;
}

.workers {
    padding: 81px 15px;
}

.workers .container {
    max-width: 760px;
    text-align: center;
}

.workers.h2 {
    color: #4d5c66;
    font-size:35px;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .2rem;

}

.workers h3 {
    color: #d4af37;
    font-size: 12px;
    font-family: "Open Sans";
    padding-bottom: 12px;
    text-transform: uppercase;
}
.workers p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    padding-top: 46px;
}


.workers .item {
    max-width: 246px;
    margin-right: 5px;
}


.workers .item {
    max-width: 246px;
    margin-bottom: 5px;
}

.workers .item img {
    width: 100%;
    display: block;
}

.workers .item div {
    background-color: #f9f9f9;
    text-align: left;
    padding: 20px 16px 48px;
}

.workers.item h3 {
    margin-bottom: 24px;

}
.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.text h4 {
    font-size: 16px;
    font-family: "Open Sans";
    margin-bottom: 10px;
    color: #4d5c66;
    font-weight: bold;
}
.workers .item p {
    font: 13px/21px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}


.post {
    padding: 80px 15px;
    text-align: center;
}
.post .container h3 {
    color: #d4af37;
    font-size: 12px;
    font-family: "Open Sans";
    padding-bottom: 12px;
    text-transform: uppercase;
}
.post .container h2 {
    color: #4d5c66;
    font-size:35px;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .2rem;

}
.pic {
    display: flex;
    padding-top: 53px;
}
.desc {
    padding-top: 43px;
    background-color: #f9f9f9;
    color: #505d68;
    font-family: "Open Sans";
    text-align: left;
    padding-left: 41px;
}
.desc h5{
    font-size: 24px;
    padding-bottom: 34px;
}
.desc data {
    color: #4d5c66;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.desc a {
    color: #4d5c66;
    font-size: 13px;
    text-decoration: none;
    border: solid 1px black;
    font-family: 'Open Sans';
    padding:18px 44px;
    font-weight: bolder;
    min-width: 127px;
}
.desc p {
    font-family: "Open Sans";
    padding-bottom: 60px;
}
.post .bottom {
    padding-top: 84px;
}
.post .bottom a {
    color: #4d5c66;
    font-family: 'Open Sans';
    border: solid 1px black;
    padding: 23px 50px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}



.contact {
    padding: 80px 15px;
    text-align: center;
}

.contact .map {
    width: 100%;
    height: 294px;
    overflow: hidden;
    position: relative;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.text-holder {
    background-color: #f9f9f9;
    padding: 74px 54px;

}


.text-holder p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #505d68;
}

.text-wrap {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}
.text-holder{
    width: 50%;

}
.text-wrap h6{
    padding-bottom: 49px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #505d68;
}
.text-wrapp.text-holder  {
    display: block;
    width: 100%;
}

.contact h3 {
    color: #d4af37;
    font-size: 12px;
    font-family: "Open Sans";
    padding-bottom: 12px;
    text-transform: uppercase
}
.contact h2 {
    color: #4d5c66;
    font-size:35px;
    padding-bottom: 50px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .2rem;
}

footer {
    background-color: #eeee;
    height: 93px;
}

footer .container.d-flex {
    justify-content: space-between;
}
.container.d-flex {
    padding: 42px 15px 38px 41px;
}
.container.d-flex div {
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.owl-nav .owl-prev {
   color: black;
    position: absolute;
    left: -80px;
    top:200px;
    outline: none;
}
.owl-nav .owl-prev:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 43px;
}

.owl-nav .owl-next {
    position: absolute;
    right: -80px;
    top: 200px;
    color: black;
    outline: none;
    transform: rotate(180deg);
}
.owl-nav .owl-next:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 43px;

}
/*menu*/

nav {
    --transition-time: 500ms;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
    width: 100vh;
    height: 450px;
}
nav a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    user-select: none;
    color: #fff; }
nav .nav-links {
    --link-height: 60px;
    position: relative;
    width: 100%; }
nav .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--link-height);
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
    transition-delay: calc(30ms + var(--delay));
    cursor: pointer;
    z-index: 8; }
nav .nav-links li:hover {
    color: rgba(255, 255, 255, 0.85); }
nav .nav-links li a {
    pointer-events: none; }
nav .nav-links li ol {
    display: none; }
nav .nav-links .hover-el {
    position: absolute;
    width: 100%;
    height: var(--link-height);
    top: var(--y);
    right: var(--x);
    opacity: 0;
    background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    pointer-events: none;
    z-index: 5; }
nav .sub-menu {
    --link-height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%); }
nav .sub-menu ol {
    list-style: none; }
nav .sub-menu ol li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--link-height);
    transition: all var(--transition-time) ease;
    transition-delay: calc(30ms + var(--delay));
    cursor: pointer; }
nav .sub-menu ol li:hover {
    background: rgba(0, 0, 0, 0.25); }
nav .sub-menu ol li.off-menu {
    opacity: 0;
    transform: translateY(30%); }
nav .sub-menu ol li.on-menu {
    opacity: 1;
    transform: translateY(0%); }
nav .sub-menu ol li a {
    font-size: 1.2rem;
    font-weight: normal; }
nav .sub-menu-btn {
    --icon-width: 40px;
    position: absolute;
    top: 6%;
    right: 10%;
    width: var(--icon-width);
    height: var(--icon-width);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 8;
    pointer-events: none; }
nav .sub-menu-btn .line {
    width: calc(var(--icon-width) - 28px);
    height: 2px;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 12px 10px; }
nav .sub-menu-btn .line__1 {
    transform-origin: left;
    transform: rotate(-35deg) translate(-1px, 8px); }
nav .sub-menu-btn .line__2 {
    transform-origin: left;
    transform: rotate(35deg) translate(-1px, -8px); }
nav .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: 5%;
    left: -15%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10; }
nav .menu-btn.close .line__1 {
    transform: rotate(45deg) translate(2px, -3px); }
nav .menu-btn.close .line__2 {
    transform: rotate(-45deg); }
nav .menu-btn.close .line__3 {
    transform: rotate(45deg) translate(-2px, 3px); }
nav .menu-btn .line {
    width: var(--icon-width);
    background: #fff;
    height: 2px;
    margin: 3px 0;
    transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1); }
nav .menu-btn .line__1 {
    width: var(--icon-width);
    transform-origin: left; }
nav .menu-btn .line__2 {
    width: var(--icon-width);
    transform-origin: center; }
nav .menu-btn .line__3 {
    width: var(--icon-width);
    transform-origin: right; }
nav.nav-open {
    transform: translateX(0%); }
nav.nav-open .menu-btn {
    right: 10%; }
nav.nav-open .nav-links li {
    transform: translateX(0);
    opacity: 1; }
nav.sub-menu-open .sub-menu-btn {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all; }
nav.sub-menu-open .nav-links li {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10%); }
nav.sub-menu-open .nav-links .hover-el {
    opacity: 0; }